body{font: 12px ;}

.navbar-brand {
    font-weight: 600;
    position: relative;
    top: 2px;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
}
  

/* count indicator near icons */
.nav>li .count {
  position: absolute;
  bottom: 12px;
  right: 6px;
  font-size: 9px;
  background: rgba(51,200,51,0.55);
  color: rgba(255,255,255,0.9);
  line-height: 1em;
  padding: 2px 4px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}


.navbar-inner {    
    border-radius: 0;
    padding: 10px;
}

.navbar-inverse {

}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-brand {
    float: left;
    font-size: 18px;
    height: 50px;
    line-height: 20px;
    padding: 15px;
}
.navbar-right  > li > a {

  color: white !important;
}


/* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0099CC; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top:  49px;
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 20px;
    margin-left:0px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}    /* The side navigation menu */
.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: #0099CC; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 49px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
 .side-nav-content{
    padding:50px;
}

.sidenav .nav{
    padding-top:38px;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-left .5s;
    padding: 50px !important;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}




/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;  
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}


 .volt-container{
    background: lightgrey;

    width:80%;
}
.volt-container li:last-child{
    border-right:none;
}
.volt-container li{
    list-style-type: none;
    float: left;                
    width:20%;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,e1e1e1+7,f1f1f1+50,e1e1e1+93,f6f6f6+100 */
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 7%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 93%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 7%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 93%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 7%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 93%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
    padding: 10px;

    line-height: 10px;
    border-right:1px solid grey;
    text-align: center;
}

.panel-header-bg{
    background: rgb(255,255,255); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(225,225,225,1) 7%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 93%, rgba(246,246,246,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 7%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 93%,rgba(246,246,246,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(225,225,225,1) 7%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 93%,rgba(246,246,246,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
      border: 1px solid #d6d6d6;
      height: 55px;
      line-height: 55px;
      position: relative;
      padding-left:10px;
}









/*------------------------------------------------------------------
[3. Subnavbar / .subnavbar]
*/

.subnavbar {
      margin-bottom: 2.5em;
    }
    
.subnavbar-inner {
  height: 60px;
  background: #fff;
  border-bottom: 1px solid #d6d6d6;
}

.subnavbar .container > ul {
  display: inline-block;
  
  height: 80px;
  padding: 0;
  margin: 0;
  
}

.subnavbar .container > ul > li {
  float: left;
  
  min-width: 90px;
  height: 60px;
  padding: 0;
  margin: 0;
  
  text-align: center;
  list-style: none;
  
  border-left: 1px solid #d9d9d9;
  
  
}

.subnavbar .container > ul > li > a {
  display: block;
  
  height: 100%;
  padding: 0 15px;
  
  font-size: 12px;
  font-weight: bold;
  color: #b2afaa;
}

.subnavbar .container > ul > li > a:hover {
  color: #888;
  text-decoration: none;
}

.subnavbar .container > ul > li > a > i {
  display: inline-block;
  
  width: 24px;
  height: 24px;
  margin-top: 11px;
  margin-bottom: -3px;
  font-size: 20px;
}

.subnavbar .container > ul > li > a > span {
  display: block;
  
}


.subnavbar .container > ul > li.active > a {
  
  border-bottom:3px solid #ff7f74;
  color: #383838;
}
    

.subnavbar .dropdown .dropdown-menu a {
  font-size: 12px;
}

    
.subnavbar .dropdown .dropdown-menu {
      text-align: left;
      
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    }
    
    
    
.subnavbar .dropdown-menu::before {
  content: '';
  display: inline-block;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-bottom: 7px solid #CCC;
  border-bottom-color: rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -7px;
  left: 9px;
}

.subnavbar .dropdown-menu::after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid white;
  position: absolute;
  top: -6px;
  left: 10px;
}


.subnavbar .caret {
  margin-top: 4px;
  
  border-top-color: white;
  border-bottom-color: white;
}

.subnavbar .dropdown.open .caret {
  display: none;
}


.cow_icon{

      background:  url("../images/cow_32.png") ;
      
    }

.glyphicon-refresh-spin {
    -animation: refreshspin .7s infinite linear;
    -webkit-animation: refreshspin2 .7s infinite linear;
}



.table-fixed thead {
  width: 97%;
}
.table-fixed tbody {
  height: 300px;
  overflow-y: auto;
  width: 100%;
}
.table-fixed thead, .table-fixed tbody, .table-fixed tr, .table-fixed td, .table-fixed th {
  display: block;
}
.table-fixed tbody td, .table-fixed thead > tr> th {
  float: left;
  border-bottom-width: 0;
}


@-webkit-keyframes refreshspin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes refreshspin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}